{% extends 'base.html' %}
{% load static %}
{% block title %}
About
{% endblock %}
{% block content %}
<div style="width:100%;display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
    <div class="abo">
        <h1>About Navi Finance</h1>
        <p>At Navi Finance, we're on a mission to improve the lives of everyday Australians by making money work for them.</p>
    </div>
</div>
<div style="width:100%;display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
    <div class="storya">
        <div class="stora">
            <div class="stor">
                <img src='{% static "images\about\q2-report-card.jpg" %}' alt="">
            </div>
        </div>
        <div class="storyb">
            <div class="storb">
                <h2>This is our story</h2>
                <p>Our mission began with the goal of offering clear and accessible financial solutions. We support those who aim higher, looking for better opportunities, smarter solutions, and a reliable partner to guide them through their financial journey. In the dynamic world we live Navi Finance is your forward-thinking ally, ready to adapt to your needs and help you confidently achieve your goals.</p>
            </div>
        </div>
    </div>
</div>
<div style="width:100%;display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
    <div class="works">
        <h1>Here's how we work</h1>
        <div data-aos="fade-up">
            <div class="work">
                <div class="wor">
                    <h2>1</h2>
                    <b>Personalised service</b>
                    <p>At Navi Finance, we prioritize your unique goals, offering personalised solutions tailored to your needsWhether you're a first-time buyer or an experienced investor, we're here to provide trusted guidance and lasting support</p>
                </div>
                <div class="wor">
                    <h2>2</h2>
                    <b>Expert Guidance</b>
                    <p>Navi Finance brings you expert advice and support at every stage of the process. From pre-approval to settlement, our team is here to simplify your borrowing journey, ensuring you make confident and informed financial decisions.</p>
                </div>
                <div class="wor">
                    <h2>3</h2>
                    <b>Tailored Solutions</b>
                    <p>At Navi Finance, we're dedicated to your success. Our mission is to provide not just financial services, but peace of mind, knowing you have a partner who cares about you by putting you first.</p>
                </div>
                <div class="wor">
                    <h2>4</h2>
                    <b>Commitment to Excellence</b>
                    <p>At Navi Finance, we prioritize your unique goals, offering personalised solutions tailored to your needsWhether you're a first-time buyer or an experienced investor, we're here to provide trusted guidance and lasting support</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
    <div class="choose">
        <div data-aos="fade-up"><h1>Why choose Navi Finance</h1></div>
        <div data-aos="fade-up"><p>Opting for Navi Finance means partnering with a team dedicated to making your financial journey easier. Whether you're looking to secure a home loan, refinance, or expand your investment portfolio, we focus on your specific needs and circumstances. With a wide network of banks and lenders across Australia, we ensure you receive the most suitable loan options available.</p></div>
        <div data-aos="fade-up"><p>At Navi Finance, we offer more than just numbers-we provide trust, expertise, and personalised service to every client. Our aim is to make borrowing hassle-free, guiding you through each step with clear communication and customised solutions. From in-person consultations in Adelaide to convenient video meetings across Australia, we are committed to being accessible and supportive wherever you are.</p></div>
        <div data-aos="fade-up"><p>Let Navi Finance help you achieve your financial goals. When you choose Navi Finance, you're choosing a trusted partner who is putting you first every time.</p></div>
        <div class="choos">
            <a href="{% url 'contact' %}">Connect now</a>
        </div>
    </div>
</div>
{% endblock %}