{% extends "base.html" %}
{% block title %}
Calculator
{% endblock %}
{% block content %}
<div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
    <div class="calculator">
        <h1>Finance Calculators</h1>
        <p>Explore a range of Personalised and Free Loan Calculators</p>
    </div>
</div>
<div class="home_calculator">
    <div class="home_calcul">
        <div data-aos="fade-up">
            <h1>Home and Loan Calculators</h1>
        </div>
        <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
            <div class="home_line">
                <div class="home_calcu">
                    <div class="home_calc">
                        <p>Loan repayment calculator</p>
                        <p>Estimate your monthly loan repayments.</p>
                    </div>
                    <div class="home_cal">
                        <a href="">Open Now</a>
                    </div>
                </div>
                <div class="blank_line"></div>
            </div>
        </div>
        <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
            <div class="home_line">
                <div class="home_calcu">
                    <div class="home_calc">
                        <p>Extra repayment calculator</p>
                        <p>Calculate interest and time saved with extra repayments.</p>
                    </div>
                    <div class="home_cal">
                        <a href="">Open Now</a>
                    </div>
                </div>
                <div class="blank_line"></div>
            </div>
        </div>
        <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
            <div class="home_line">
                <div class="home_calcu">
                    <div class="home_calc">
                        <p>Stamp duty calculator</p>
                        <p>Estimate the stamp duty on property purchases.</p>
                    </div>
                    <div class="home_cal">
                        <a href="">Open Now</a>
                    </div>
                </div>
                <div class="blank_line"></div>
            </div>
        </div>
        <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
            <div class="home_line">
                <div class="home_calcu">
                    <div class="home_calc">
                        <p>Borrowing power calculator</p>
                        <p>Find out how much you can borrow.</p>
                    </div>
                    <div class="home_cal">
                        <a href="">Open Now</a>
                    </div>
                </div>
                <div class="blank_line"></div>
            </div>
        </div>
        <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
            <div class="home_line">
                <div class="home_calcu">
                    <div class="home_calc">
                        <p>Home loan offset calculator</p>
                        <p>Understand how an offset account reduces loan interest.</p>
                    </div>
                    <div class="home_cal">
                        <a href="">Open Now</a>
                    </div>
                </div>
                <div class="blank_line"></div>
            </div>
        </div>
        <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
            <div class="home_line">
                <div class="home_calcu">
                    <div class="home_calc">
                        <p>Lump sum repayment calculator</p>
                        <p>Evaluate the impact of lump sum payments on your loan.</p>
                    </div>
                    <div class="home_cal">
                        <a href="">Open Now</a>
                    </div>
                </div>
                <div class="blank_line"></div>
            </div>
        </div>
        <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
            <div class="home_line">
                <div class="home_calcu">
                    <div class="home_calc">
                        <p>Interest-only mortgage calculator</p>
                        <p>Analyze the cost of an interest-only mortgage compared to principal and interest.</p>
                    </div>
                    <div class="home_cal">
                        <a href="">Open Now</a>
                    </div>
                </div>
                <div class="blank_line"></div>
            </div>
        </div>
        <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
            <div class="home_line">
                <div class="home_calcu">
                    <div class="home_calc">
                        <p>Loan repayment calculator</p>
                        <p>Estimate your monthly loan repayments.</p>
                    </div>
                    <div class="home_cal">
                        <a href="">Open Now</a>
                    </div>
                </div>
                <div class="blank_line"></div>
            </div>
        </div>
    </div>
    <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
        <div class="home_calcul">
            <h1>Savings and Investment Calculators</h1>
            <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
                <div class="home_line">
                    <div class="home_calcu">
                        <div class="home_calc">
                            <p>Saving calculator</p>
                            <p>Estimate the growth of your savings over time.</p>
                        </div>
                        <div class="home_cal">
                            <a href="">Open Now</a>
                        </div>
                    </div>
                    <div class="blank_line"></div>
                </div>
            </div>
            <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
                <div class="home_line">
                    <div class="home_calcu">
                        <div class="home_calc">
                            <p>Savings Goal Calculator - How Much To Deposit</p>
                            <p>Plan how much you need to save regularly to achieve your goals.</p>
                        </div>
                        <div class="home_cal">
                            <a href="">Open Now</a>
                        </div>
                    </div>
                    <div class="blank_line"></div>
                </div>
            </div>
            <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
                <div class="home_line">
                    <div class="home_calcu">
                        <div class="home_calc">
                            <p>Compound interest calculator</p>
                            <p>Calculate the growth of investments with compound interest.</p>
                        </div>
                        <div class="home_cal">
                            <a href="">Open Now</a>
                        </div>
                    </div>
                    <div class="blank_line"></div>
                </div>
            </div>
            <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
                <div class="home_line">
                    <div class="home_calcu">
                        <div class="home_calc">
                            <p>Rent vs Buy calculator</p>
                            <p>Compare the costs of renting versus buying.</p>
                        </div>
                        <div class="home_cal">
                            <a href="">Open Now</a>
                        </div>
                    </div>
                    <div class="blank_line"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
        <div class="home_calcul">
            <h1>Tax and Budget Calculators</h1>
            <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
                <div class="home_line">
                    <div class="home_calcu">
                        <div class="home_calc">
                            <p>Income tax calculator</p>
                            <p>Calculate your income tax based on your earnings.</p>
                        </div>
                        <div class="home_cal">
                            <a href="">Open Now</a>
                        </div>
                    </div>
                    <div class="blank_line"></div>
                </div>
            </div>
            <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
                <div class="home_line">
                    <div class="home_calcu">
                        <div class="home_calc">
                            <p>Budget planner</p>
                            <p>Plan your budget by analyzing income, expenses, and savings.</p>
                        </div>
                        <div class="home_cal">
                            <a href="">Open Now</a>
                        </div>
                    </div>
                    <div class="blank_line"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
        <div class="home_calcul">
            <h1>Credit and Loan Comparison Calculators</h1>
            <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
                <div class="home_line">
                    <div class="home_calcu">
                        <div class="home_calc">
                            <p>Credit card calculator</p>
                            <p>Calculate the time and cost to pay off your credit card balance.</p>
                        </div>
                        <div class="home_cal">
                            <a href="">Open Now</a>
                        </div>
                    </div>
                    <div class="blank_line"></div>
                </div>
            </div>
            <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
                <div class="home_line">
                    <div class="home_calcu">
                        <div class="home_calc">
                            <p>Introductory rate loan calculator</p>
                            <p>Analyze the benefits and costs of loans with introductory rates.</p>
                        </div>
                        <div class="home_cal">
                            <a href="">Open Now</a>
                        </div>
                    </div>
                    <div class="blank_line"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
        <div class="home_calcul">
            <h1>Specialised Calculators</h1>
            <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
                <div class="home_line">
                    <div class="home_calcu">
                        <div class="home_calc">
                            <p>Fortnightly repayment calculator</p>
                            <p>Calculate the impact of switching to fortnightly repayments.</p>
                        </div>
                        <div class="home_cal">
                            <a href="">Open Now</a>
                        </div>
                    </div>
                    <div class="blank_line"></div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}