{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
    <div class="h_abouta">
        <div class="h_about">
            <div class="h_abou">
                <h1>KIKI FINANCE: Turning your financial goals into reality</h1>
                <p>your trusted partners in home loans,business loans, business loans, car loans, asset finance, commercial</p>
                <a href="{% url 'contact' %}">Request a call back</a>
            </div>
            <div class="h_abo">
                <div class="h_ab">
                    <img src="media\buying-an-inherited-property-take-these-8-precautions.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
    <div class="home_guide">
        <div class="home_guid">
            <h1>We're here to guide you with your:</h1>
            <h1 id="companionMethods">Commercial loan</h1>
        </div>
        <div class="home_guid">
            <p>With many loans and lenders, choosing the right one can be overwhelming. We can help you make the right choice.</p>
        </div>
        <div class="home_gui">
            <a href="{% url 'servies' %}">Explore our Service</a>
        </div>
        <div class="home_gu">
            <div style="width:100%; display:flex; align-items: center;flex-direction: column; " data-aos="fade-up">
                <h2>Your Smart Finance Guides</h2>
                <p>Expert insights and strategies to navigate your financial journey with our smart FREE guides.</p>
            </div>
        </div>
    </div>
</div>
<div style="width:100%; display:flex; align-items: center;flex-direction: column; " class="home_cards">
    <div class="home_card">
        <div data-aos="fade-up">
            <div class="home_car">
                <div class="home_ca">
                    <img src="media\shutterstock_130099715-20180.jpg" alt="">
                </div>
                <div class="home_c">
                    <h3>Why Choose a Broker Guide</h3>
                    <p>Discover the benefits of working with a broker to secure the best financial solutions tailored to your needs.</p>
                    <a href="">Download</a>
                </div>
            </div>
        </div>
        <div data-aos="fade-up">
            <div class="home_car">
                <div class="home_ca">
                    <img src="media\0sAtnkelxXaJnYTtVtomsbHg6m96uH.webp" alt="">
                </div>
                <div class="home_c">
                    <h3>First Home Buyer Guide</h3>
                    <p>Step-by-step guidance to make your first home-buying experience seamless and stress-free.</p>
                    <a href="">Download</a>
                </div>
            </div>
        </div>
        <div data-aos="fade-up">
            <div class="home_car">
                <div class="home_ca">
                    <img src="media\pressing-calculators-hand-plans-home-260nw-2360003443.jpg" alt="">
                </div>
                <div class="home_c">
                    <h3>Refinance Guide</h3>
                    <p>Learn how refinancing can save you money, reduce your loan term, or unlock equity.</p>
                    <a href="">Download</a>
                </div>
            </div>
        </div>
        <div data-aos="fade-up">
            <div class="home_car">
                <div class="home_ca">
                    <img src="media\pngtree-3d-rendering-money-transfer-for-real-estate-investment-image_13570308.png" alt="">
                </div>
                <div class="home_c">
                    <h3>Property Investment Guide</h3>
                    <p>Essential strategies to maximize your returns and build a strong property p.</p>
                    <a href="">Download</a>
                </div>
            </div>
        </div>
        <div data-aos="fade-up">
            <div class="home_car">
                <div class="home_ca">
                    <img src="media\INV_OfficeConferenceRoom_GettyImages-695145121-276d05d8938f4ea59b8fc74ea9e68a3c.jpg" alt="">
                </div>
                <div class="home_c">
                    <h3>Business Finance Guide</h3>
                    <p>Smart financial strategies to help grow your business and achieve long-term</p>
                    <a href="">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} <div class="home_patner">
    <h1>Our Partners</h1>
    <div class="home_partne">
        <img src="" alt="">
    </div>
</div> {% endcomment %}
{% endblock %}