{% extends "base.html" %}
{% block title %}
Privacy Policy
{% endblock %}
{% block content %}
<div class="disclaimer">
    <h1>Our Privacy Policy</h1>
    <p>At Kiwi Finance, we care about the privacy of our clients.</p>
</div>
<div class="disclaim">
    <div class="disc_cont">
        <h2>Who Are We?</h6>
        <p>'We', 'us', and 'our' refer to Kiwi Finance Pty Ltd (ABN 59 093 587 010, Credit Representative Numbers: 555861 ) and our related businesses.</p>
    </div>
    <div class="disc_cont">
        <h2>Our Commitment to Protect Your Privacy</h6>
        <p>At Kiwi Finance Pty Ltd, we understand that the details you provide us are private and personal. It's important that you feel secure whenever you deal with us. It's also important that you understand how we protect your privacy and the manner in which we may use your details. As such, our policies relating to personal information are designed to ensure that you are fully protected under Australian privacy laws.</p>
        <p>Our commitment in respect of personal information is to abide by the Australian Privacy Principles for the protection of personal information, as set out in the Privacy Act and any other relevant law.</p>
    </div>
    <div class="disc_cont">
        <h2>Personal Information</h6>
        <p>When we refer to personal information we mean information from which your identity is reasonably apparent. This information may include information or an opinion about you. The personal information we hold about you may also include credit information.</p>
        <p>Credit information is information that is used to assess your eligibility to be provided with finance and may include any finance that you have outstanding, your repayment history in respect of those loans, and any defaults. Usually, credit information is exchanged between credit and finance providers and credit reporting bodies.</p>
        <p>The kinds of personal information we may collect about you include your name, date of birth, address, account details, occupation, and any other information we may need to identify you.</p>
        <p>If you are applying for finance, we may also collect the ages and number of your dependants and cohabitants, the length of time at your current address, your employment details, and proof of earnings and expenses. If you apply for any insurance product through us, we may also collect your health information. We will only collect health information from you with your consent.</p>
    </div>
    <div class="disc_cont">
        <h2>Why We Collect Your Personal Information</h6>
        <p>We collect personal information when you apply to join our network or for the purposes of assessing your application for finance and managing that finance. We may also collect your personal information for the purposes of direct marketing and managing our relationship with you. From time to time, we may offer you other products and services.</p>
        <p>To enable us to maintain a successful business relationship with you, we may disclose your personal information to other organisations that provide products or services used or marketed by us. We may also disclose your personal information to any other organisation that may have or is considering having an interest in your finance, or in our business.</p>
    </div>
    <div class="disc_cont">
        <h2>How Do We Collect Your Personal Information?</h6>
        <p>Where reasonable and practical, we will collect your personal information directly from you. We may also collect your personal information from finance brokers and other people such as accountants and lawyers.</p>
    </div>
    <div class="disc_cont">
        <h2>Do We Disclose Your Personal Information?</h6>
        <p>We may disclose your personal information to:</p>
        <ul>
            <li>Prospective funders or other intermediaries in relation to your finance requirements;</li>
            <li>Other organisations that are involved in managing or administering your finance, such as third-party suppliers, printing and postal services, call centres;</li>
            <li>Associated businesses that may want to market products to you;</li>
            <li>Companies that provide information and infrastructure systems to us;</li>
            <li>Anybody who represents you, such as finance brokers, lawyers, and accountants;</li>
            <li>Anyone, where you have provided us consent;</li>
            <li>Where we are required to do so by law, such as under the Anti-Money Laundering and Counter-Terrorism Financing Act 2006 (Cth);</li>
            <li>Investors, agents, or advisers, or any entity that has an interest in our business; or</li>
            <li>Your employer, referees, or identity verification services.</li>
        </ul>
        <p>Prior to disclosing any of your personal information to another person or organisation, we will take all reasonable steps to satisfy ourselves that:</p>
        <ul>
            <li>The person or organisation has a commitment to protecting your personal information at least equal to our commitment, or</li>
            <li>You have consented to us making the disclosure.</li>
        </ul>
        <p>We may use cloud storage to store the personal information we hold about you. The cloud storage and the IT servers may be located outside Australia.</p>
        <p>We may disclose your personal information to overseas entities that provide support functions to us. You may obtain more information about these entities by contacting us.</p>
    </div>
    <div class="disc_cont">
        <h2>Direct Marketing</h6>
        <p>From time to time, we may use your personal information to provide you with current information about finance, offers you may find of interest, changes to our organisation, or new products or services being offered by us or any company with whom we are associated.</p>
        <p>If you do not wish to receive marketing information, you may at any time decline to receive such information by telephoning us on +61 466 963 131 or by writing to us at nick@kiwifinance.com.au . If the direct marketing is by email, you may also use the unsubscribe function. We will not charge you for giving effect to your request and will take all reasonable steps to meet your request at the earliest possible opportunity.</p>
    </div>
    <div class="disc_cont">
        <h2>Updating Your Personal Information</h6>
        <p>It is important to us that the personal information we hold about you is accurate and up to date. During the course of our relationship with you, we may ask you to inform us if any of your personal information has changed.</p>
        <p>If you wish to make any changes to your personal information, you may contact us. We will generally rely on you to ensure the information we hold about you is accurate or complete.</p>
    </div>
    <div class="disc_cont">
        <h2>Access and Correction to Your Personal Information</h6>
        <p>We will provide you with access to the personal information we hold about you. You may request access to any of the personal information we hold about you at any time.</p>
        <p>We may charge a fee for our costs of retrieving and supplying the information to you.</p>
        <p>Depending on the type of request that you make, we may respond to your request immediately; otherwise, we usually respond to you within seven days of receiving your request. We may need to contact other entities to properly investigate your request.</p>
        <p>There may be situations where we are not required to provide you with access to your personal information, for example, if the information relates to existing or anticipated legal proceedings, or if your request is vexatious. An explanation will be provided to you if we deny you access to the personal information we hold about you.</p>
        <p>If any of the personal information we hold about you is incorrect, inaccurate, or out of date, you may request that we correct the information. If appropriate, we will correct the personal information at the time of the request; otherwise, we will provide an initial response to you within seven days of receiving your request. Where reasonable, and after our investigation, we will provide you with details about whether we have corrected the personal information within 30 days.</p>
        <p>We may need to consult with other entities as part of our investigation.</p>
        <p>If we refuse to correct personal information, we will provide you with our reasons for not correcting the information.</p>   
    </div>
    <div class="disc_cont">
        <h2>Using Government Identifiers</h6>
        <p>If we collect government identifiers, such as your tax file number, we do not use or disclose this information other than as required by law. We will never use a government identifier to identify you.</p>
    </div>
    <div class="disc_cont">
        <h2>Using Government Identifiers</h6>
        <p>If we collect government identifiers, such as your tax file number, we do not use or disclose this information other than as required by law. We will never use a government identifier to identify you.</p>
    </div>
    <div class="disc_cont">
        <h2>Business Without Identifying You</h6>
        <p>In most circumstances, it will be necessary for us to identify you in order to successfully do business with you. However, where it is lawful and practicable to do so, we will offer you the opportunity of doing business with us without providing us with personal information, for example, if you make general inquiries about interest rates or current promotional offers.</p>
    </div>
    <div class="disc_cont">
        <h2>Sensitive Information</h6>
        <p>We will only collect sensitive information about you with your consent. Sensitive information is personal information that includes information relating to your racial or ethnic origin, political persuasion, membership in trade or professional associations or trade unions, sexual preferences, criminal record, or health.</p>
    </div>
    <div class="disc_cont">
        <h2>How Safe and Secure is Your Personal Information That We Hold?</h6>
        <p>We will take reasonable steps to protect your personal information by storing it in a secure environment. We may store your personal information in paper and electronic form. We will also take reasonable steps to protect any personal information from misuse, loss, and unauthorised access, modification, or disclosure.</p>
    </div>
    <div class="disc_cont">
        <h2>Complaints</h6>
        <p>If you are dissatisfied with how we have dealt with your personal information, or you have a complaint about our compliance with the Privacy Act, you may contact our complaints officer on +61 466 963 131 or by writing to nick@kiwifinance.com.au .</p>
        <p>We will acknowledge your complaint within 24 hours. We will provide you with a decision on your complaint within 30 days.</p>
    </div>
    <div class="disc_cont">
        <h2>Further Information</h6>
        <p>You may request further information about the way we manage your personal information by contacting us.</p>
    </div>
    <div class="disc_cont">
        <h2>Change in Our Privacy Policy</h6>
        <p>We are constantly reviewing all of our policies and attempt to keep up to date with market expectations. Technology is constantly changing, as is the law and marketplace practices.</p>
        <p>As a consequence, we may change this privacy policy from time to time or as the need arises.</p>
        <p>You may request this privacy policy in an alternative form.</p>
    </div>
</div>
{% endblock %}