{% extends "base.html" %}
{% block title %}
Terms and Conditions
{% endblock %}
{% block content %}
<div class="disclaimer">
    <h1>Our Terms & Conditions</h1>
    <p>Guidelines for a Seamless Experience.</p>
</div>
<div class="disclaim">
    <div class="disc_cont">
        <h2>Operator of the Website</h6>
        <p>This site is owned and operated by Kiwi Finance Pty Ltd.</p>
    </div>
    <div class="disc_cont">
        <h2>General Statement</h6>
        <p>The following Terms and Conditions regulate your use of our website. Please read these Terms & Conditions carefully before accessing our website.</p>
        <p>Your access to or use of this website is conditional upon your acceptance and compliance with the terms, conditions, policies, and disclaimers contained on this page and elsewhere on the site (“general conditions”). Your access to the site constitutes your agreement to be bound by the general conditions.</p>
        <p>The provision by Kiwi Finance Pty Ltd, its affiliates, and suppliers of the data, information, and services on our site to you is expressly conditioned on your acceptance (without modification) of the terms and conditions contained herein.</p>
        <p>Your use of our website constitutes your agreement to all such terms and conditions. The materials and information on our website are provided to give you general guidance in the operation of our financial services.</p>
        <p>Kiwi Finance Pty Ltd and its agents assume no responsibility for any consequences relating directly or indirectly to any action or inaction that you take based on the information, services, or other material on our website. While Kiwi Finance Pty Ltd takes reasonable steps to keep the information on our website accurate, complete, and up-to-date, Kiwi Finance Pty Ltd and its suppliers cannot guarantee, and will not be responsible for any damage or loss related to the accuracy, completeness, or timeliness of the information.</p>
        <p>Kiwi Finance Pty Ltd considers privacy of paramount importance and no attempt is made to identify you unless you expressly choose to do so. You are aware that your use of our website is monitored. This is undertaken to improve our website and to make your visit to our website a more relevant experience.</p>
        <p>Kiwi Finance Pty Ltd reserves the right to amend the general conditions at any time, and you should periodically refer to them on this page and elsewhere on the site.</p>
    </div>
    <div class="disc_cont">
        <h2>Copyright</h6>
        <p>The copyright in the content is owned by Kiwi Finance Pty Ltd, its suppliers, and/or licensors unless specifically indicated otherwise on the Website. The content is protected by Australian and international copyright and trademark laws and is supplied for information use only. Except as explicitly provided for above and separately from any fair dealing permitted under the Copyright Act 1968, Kiwi Finance Pty Ltd grants visitors to the Website a license to download, display, print, and reproduce this material for private use or within your organization, for non-commercial purposes only. No license to republish, transmit, reproduce, communicate, modify, commercialize, or alter this material is granted without their written permission.</p>
    </div>
    <div class="disc_cont">
        <h2>Contact Us and Register Your Interest Form Terms and Conditions</h2>
        <p>Further to the general Terms and Conditions of use for the Kiwi Finance Pty Ltd website, the following apply.</p>
        <p>Kiwi Finance Pty Ltd provides a useful and simple method for visitors to the website to contact us. By using this service, you understand and agree that:</p>
        <ul>
            <li>The information provided will only be used for the purpose to which it was requested, and its use is subject to our Privacy Policy.</li>
            <li>For a response to be provided, contact information must be provided.</li>
            <li>Kiwi Finance Pty Ltd will respond within 5 business days.</li>
            <li>Please direct all inquiries to nick@kiwifinance.com.au.</li>
        </ul>
    </div>
    <div class="disc_cont">
        <h2>Cookies</h6>
    </div>
    <div class="disc_cont">
        <h2>Use of Cookies</h6>
        <p>Kiwi Finance Pty Ltd uses cookies and similar technologies to enhance your experience on our website, provide personalised content, and improve the security of our services. By accessing and using our website, you consent to our use of cookies as described in this section.</p>
    </div>
    <div class="disc_cont">
        <h2>What Are Cookies?</h6>
        <p>Cookies are small text files stored on your device by your web browser when you visit certain web pages. They allow us to recognize your device, store your preferences, and track your interactions with our website.</p>
    </div>
    <div class="disc_cont">
        <h2>Types of Cookies We Use</h6>
        <p>We may disclose your personal information to:</p>
        <ul>
            <li>Essential Cookies: These cookies are necessary for the operation of our website. They enable you to navigate our site and use its features, such as accessing the website securely.</li>
            <li>Security Cookies: We use security cookies to authenticate users, prevent fraudulent use and abuse, and protect user from being part of any malicious activity.</li>
            <li>Analytics Cookies: These cookies help us understand how visitors interact with our website by collecting and reporting information anonymously. At the moment, we are not storing analytical coookies; however, we might add in future to improve our site's performance and user experience.</li>
        </ul>
    </div>
    <div class="disc_cont">
        <h2>Managing Cookies</h6>
        <p>You can control and manage cookies through your web browser settings. Most browsers allow you to block or delete cookies, but doing so may impact your ability to access certain features of our website.</p>
        <p>To learn more about cookies and how to manage them, please visit AllAboutCookies.org.</p>
    </div>
    <div class="disc_cont">
        <h2>Governing Law</h6>
        <p>These Terms and Conditions are governed by the laws of Australia. By accessing this website, you consent to the jurisdiction and venue of the courts located in Australia in all disputes arising out of or relating to these Terms and Conditions.</p>
    </div>
    <div class="disc_cont">
        <h2>Changes to Terms and Conditions</h6>
        <p>Kiwi Finance Pty Ltd reserves the right to modify these Terms and Conditions at any time without prior notice. Your continued use of the website after any changes have been made constitutes acceptance of the new terms.</p>
    </div>
    <div class="disc_cont">
        <h2>Limitation of Liability</h6>
        <p>To the fullest extent permitted by law, Kiwi Finance Pty Ltd disclaims all warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose. Kiwi Finance Pty Ltd does not warrant that the website, its servers, or email sent from the website are free of viruses or other harmful components.</p>
        <p>In no event shall Kiwi Finance Pty Ltd be liable for any direct, indirect, incidental, special, consequential, or punitive damages arising from your use of the website or the information contained therein.</p>
    </div>
    <div class="disc_cont">
        <h2>Indemnification</h6>
        <p>You agree to indemnify, defend, and hold harmless Kiwi Finance Pty Ltd, its affiliates, officers, directors, employees, agents, licensors, and suppliers from and against all losses, expenses, damages, and costs, including reasonable attorneys' fees, resulting from any violation of these terms and conditions or any activity related to your account by you or any other person accessing the website using your account.</p>
    </div>
    <div class="disc_cont">
        <h2>Links to Third-Party Websites</h6>
        <p>This website may contain links to third-party websites that are not controlled or operated by Kiwi Finance Pty Ltd Services. These links are provided for your convenience only, and Kiwi Finance Pty Ltd is not responsible for the content, privacy policies, or practices of any third-party websites. Your use of these third-party websites is at your own risk and subject to the terms and conditions of those websites.</p>
    </div>
    <div class="disc_cont">
        <h2>Termination</h6>
        <p>Kiwi Finance Pty Ltd reserves the right to terminate your access to the website, without any advance notice, for conduct that Kiwi Finance Pty Ltd believes violates these Terms and Conditions or is harmful to other users of the website, Kiwi Finance Pty Ltd, or third parties, or for any other reason.</p>
    </div>
    <div class="disc_cont">
        <h2>Entire Agreement</h6>
        <p>These Terms and Conditions, together with our Privacy Policy and any other legal notices published by Kiwi Finance Pty Ltd Services on the website, constitute the entire agreement between you and Kiwi Finance Pty Ltd concerning your use of the website.</p>
    </div>
    <div class="disc_cont">
        <h2>Severability</h6>
        <p>If any provision of these Terms and Conditions is found to be unlawful, void, or unenforceable for any reason, the remaining provisions will continue in full force and effect.</p>
    </div>
    <div class="disc_cont">
        <h2>Contact Information</h6>
        <p>For any questions or concerns regarding these Terms and Conditions, please contact us at:</p>
        <p>Email: nick@kiwifinance.com.au</p>
        <p>Phone: +61 466 963 131</p>
    </div>
</div>
{% endblock %}