{% extends "base.html" %}
{% load static %}

{% block title %}
Compound interest calculator
{% endblock %}
{% block content %}
    <div class="loan_repay">
        <h1>Compound interest calculator</h1>
    </div>
    <div class="loan_repa">
        <div class="loan_rep">
            <h3>Compound interest calculator</h5>
            <div class="loan_line">
            </div>
            <h3>Enter your detials</h4>
            <div class="loan_line">
            </div>
            <div class="loan_re">
                <form method="post">
                    {% csrf_token %}
                    <div class="call">
                        <div class="lab">
                            <label>Principal Amount (₹):</label>
                            <label>Annual Interest Rate (%):</label>
                            <label>Time (Years):</label>
                            <label>Compound Frequency:</label>
                        </div>
                        <div class="inp">
                            <input type="number" name="principal" required><br><br>
                            <input type="number" name="rate" step="0.01" required><br><br>
                            <input type="number" name="years" required><br><br>
                            <select name="frequency" required>
                                <option value="1">Annually</option>
                                <option value="2">Semi-Annually</option>
                                <option value="4">Quarterly</option>
                                <option value="12">Monthly</option>
                                <option value="365">Daily</option>
                            </select><br><br>
                        </div>
                    </div>
                    <div class="bu">
                        <button type="submit">Calculate</button>
                    </div>
                </form>
            </div>
            <h3 style="margin-top:20px;">View your results</h4>
            <div class="loan_line">
            </div>
            <div class="cal_loan">
                {% if amount %}
                <h3>💰 Results:</h3>
                <p>Final Amount: ₹{{ amount }}</p>
                <p>Total Interest Earned: ₹{{ interest }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}