{% extends "base.html" %}
{% load static %}

{% block title %}
Saving calculator
{% endblock %}
{% block content %}
    <div class="loan_repay">
        <h1>Saving calculator</h1>
    </div>
    <div class="loan_repa">
        <div class="loan_rep">
            <h3>Saving calculator</h5>
            <div class="loan_line">
            </div>
            <h3>Enter your detials</h4>
            <div class="loan_line">
            </div>
            <div class="loan_re">
                <form method="post">
                    {% csrf_token %}
                    <div class="call">
                        <div class="lab">
                            <label>Monthly Saving Amount (₹):</label>
                            <label>Annual Interest Rate (%):</label>
                            <label>Saving Duration (Years):</label>
                        </div>
                        <div class="inp">
                            <input type="number" name="monthly_saving" required><br><br>
                            <input type="number" name="rate" step="0.01" required><br><br>
                            <input type="number" name="years" required><br><br>
                        </div>
                    </div>
                    <div class="bu">
                        <button type="submit">Calculate</button>
                    </div>
                </form>
            </div>
            <h3 style="margin-top:20px;">View your results</h4>
            <div class="loan_line">
            </div>
            <div class="cal_loan">
                {% if future_value %}
                <h3>📊 Results:</h3>
                <p><strong>Total Value after {{ years }} years:</strong> ₹{{ future_value }}</p>
                <p><strong>Total Deposits:</strong> ₹{{ total_deposits }}</p>
                <p><strong>Interest Earned:</strong> ₹{{ interest_earned }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}